body {
    background-color: #111;
}


#body {
    background-color: #EEE;
}

header, footer {
    background-color: #06A;
    color: #FFF;
    padding: 5px 15px;
}

#canvasPane {
    padding: 10px;
    margin: 2px;
    text-align: center;
}

canvas {
    background-color: #000000;
}

@media(max-width: 480px) {
    canvas {
        width: 100%;
        height: auto;
    }
}

footer a {
    color: #EEE;
    text-decoration: none;
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
